<div class="section-header accommodation-background">
	<h1>Available Accomodation</h1>
	<%= link_to "Post an accommodation", new_accomodation_path, :class =>"btn btn-large btn-custom full-width-mobile" %>
</div>
<div class="row well" id="accommodation">
  <div class="col-md-12">
    <%= render @accomodations %>
  </div>
</div>
<%= will_paginate @accomodations, renderer: BootstrapPagination::Rails %>