<footer class="footer">
	<div class="row">
		<div class="col-md-12">
			Copyright <span>© ConnectYouHere</span> Enquiries to: 
			<a href="mailto:connectyouhere@gmail.com">
				<span>connectyouhere@gmail.com</span>
			</a>
			<div class="cyh-other-site facebook">
				<a href="http://www.facebook.com/ConnectYouHere/" class="" target="_blank">
					<i class="fa fa-facebook"></i>
				</a>
			</div>
			<div class="cyh-other-site email">
				<a href="mailto:connectyouhere@gmail.com" class="">
					<i class="fa fa-envelope"></i>
				</a>
			</div>
		</div>
</footer>